@media (max-width:940px) {
    .navLinks {
        margin: auto;
    }

    .faqQuestion {
        width: 70vw;
    }
}

@media (max-width:720px) {
    .navLinks {
        display: block;
    }

    .navBtn button {
        margin: 0px;
    }

    .navbar {
        display: block;
    }

    .navLogo {
        float: left;
    }

    .navHeading {
        min-height: 6vh;
        margin: 2px 0px 10px 0px;
    }

    .navLinks li {
        margin: 0px 0px 6px auto;
    }

    .footerData {
        display: grid;
        grid-row-gap: 5vh;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        height: auto;
        padding: 26px 0vw;
    }

    .footerHeading {
        margin: auto;
        min-height: -webkit-fill-available;
        max-width: 103px;
    }

    .footerHeading h3 {
        margin: 22px 0px;
    }

    .footerSocial {
        white-space: nowrap;
    }

    .faqTitle1 {
        margin-top: 5vh;
    }

    .navHeading i {
        float: right;
        margin: 2.5vh 2vw;
        display: block;
    }

    .navLinks {
        display: none;
    }

    .navBtn {
        display: none;
    }
    
.navLinks li:nth-child(1){
    margin-top: 20px;
    }
    
}
/* 
@media (min-width:719px) {
    .navLinks {
        display: flex;
    }

    .navBtn {
        display: block;
    }
} */