* {
    margin: 0px;
    padding: 0px;
}

.faqTitle1 {
    text-align: center;
    font-weight: bolder;
    margin-top: 10vh;
    margin-bottom: 2vh;
    color: blue;
}

.faqTitle2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
.faqQAns{
    margin: 33px;
}
.faqQuestion {
    margin: auto;
    min-height: 10vh;
    width: 50vw;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(197, 187, 187);
    display: flex;
}
.faqQ{
    margin: auto 15px;
}
.faqSign {
    height: 30px;
    width: 30px;
    background-color: rgb(43, 0, 255);
    float: right;
    border-radius: 50%;
    position: relative;
    text-align: center;
margin: auto ;
margin-left: 38%;
}

.faqSign span:nth-child(1),
.faqSign span:nth-child(2) {
    height: 3px;
    width: 25px;
    right: 3px;
    top: 12px;
    background-color: aliceblue;
    display: inline-block;
    position: absolute;
    margin: auto;
}
.faqSign span:nth-child(2) {
    transform: rotate(90deg);

}
.faqAnswer{
    min-height: 26vh;
    width: 50vw;
    font-weight: 400;
    font-size: 17px;
    background-color: rgb(197, 187, 187);
    margin: auto;
    display: none;
}
.faqAnswer p{
    margin: auto 15px;
}
.faqQuestion:target .faqAnswer{
    display: block;
}