* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    min-height: 10vh;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
}

.navLogo {
    font-size: 2rem;
    color: blue;
    font-weight: bold;
    margin-left: 2vw;
}

.navHeading i {
    display: none;
}

.navLinks {
    display: flex;
    margin: auto 15vw;
    flex: auto;
}

#navMenuBtn {
    display: block;
}

#navMenu {
    display: block;
}

.navLinks li {
    list-style: none;
    margin: auto;
}

.navLinks li a {
    text-decoration: none;
    color: black;
    margin: auto;
    font-weight: bolder;
    font-size: 1.1rem;
}

.navHeading {
    margin: auto 0px;
}

.navBtn {
    margin: auto 0px;
}

.navBtn button {
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 12px;
    border: 0px;
    border-radius: 10px;
    margin-right: 2vw;
}

.faqTitle1 {
    text-align: center;
    font-weight: bolder;
    margin-top: 10vh;
    margin-bottom: 2vh;
    color: blue;
}

.faqTitle2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.faqQAns {
    margin: 33px;
}

.faqQuestion {
    margin: auto;
    min-height: 10vh;
    width: 50vw;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(197, 187, 187);
    display: flex;
}

.faqQ {
    margin: auto auto auto 1vw;
}

.faqSign {
    margin: auto 1vw auto auto;
}

.faqAnswer {
    min-height: 26vh;
    width: 50vw;
    font-weight: 400;
    font-size: 17px;
    background-color: rgb(197, 187, 187);
    margin: auto;
    display: none;
}

.faqAnswer p {
    margin: auto 15px;
}

.faqQuestion:target .faqAnswer {
    display: block;
}

.footer {
    background-color: rgb(7, 4, 29);
    color: white;
    height: 50vh;
    padding: 10vh 0vw;
}

.footerData {
    display: flex;
}

.footerHeading h3 {
    margin: 10px 0px 45px 0px;
}

.footerLinks div {
    color: rgb(141, 141, 141);
    margin: 20px 0px;
    cursor: pointer;
}

.footerLinks div:hover {
    color: white;
}

.footerHeading {
    margin: auto;
    min-height: 40vh;
    max-width: 30vh;
}

#footerInput {
    height: 35px;

}

#footerButton {
    height: 35px;
    background-color: rgb(255, 210, 49);
    margin-top: 20px;
}

.footerCopy {
    margin-left: 35px;
    display: flex;
}

.footerSocial i {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.footerSocial {
    margin-left: auto;
    margin-right: 28px;
}

.footerCopy p {
    margin: auto 0px;
}